.productList{
    flex: 4;
    background-color: #fbfbff;
}

.productListProduct{
    display: flex;
    align-items: center;
}


.productListProduct img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 10px
}